{% comment %}
  Quantity input

  Accepts:
  - variant: {Object} Variant object
  - variant_id: {String} Variant ID (optional)
  - min: {Number} Min (optional)

  Usage:
  {% render 'quantity-input' variant: variant %}
{% endcomment %}

<div class="quantity-input tw-flex tw-items-center">
  <button type="button" class="quantity-minus tw-rounded-full tw-border tw-border-teal-500" aria-label="Decrease quantity">
    <svg class="tw-w-4 tw-h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12H4" />
    </svg>
  </button>
  <input 
    type="number" 
    class="tw-text-center tw-border tw-border-teal-500 tw-rounded-full" 
    min="1" 
    max="10" 
    step="1" 
    value="1" 
    aria-live="polite" 
    aria-label="Product quantity"
  />
  <button type="button" class="quantity-plus tw-rounded-full tw-border tw-border-teal-500" aria-label="Increase quantity">
    <svg class="tw-w-4 tw-h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 12h16" />
    </svg>
  </button>
</div>
